<body><button (click) = "back()" style="margin-left: 88em; margin-top: -50em;;background-color: #531963; color: rgb(255, 255, 255); position: fixed; border-radius: 10px;">Back</button>
<img class = "image2" src = "\assets\logo1.png" width="100" height="100">
<br><br>
<section class="wrapper" oncontextmenu="false" >

    <section class="mobile">
      <span class="line title">SIRIUS CRISP</span>
      <span class="line">I'm very sorry but this game is for non-touch screen only</span>
    </section>

    <section class="instruction" style="margin-top: 8em;">
      <span class="line title"><h3 style = "color: #563D7C;"><b>SIRIUS CRISP</b></h3></span>
      <span class="line">Use your mouse cursor to follow the line from the green mark to the end</span>
      <span class="line upper">** This game is not for touch screen ** - Sorry</span>
    </section>

    <section class="game">
      <input type="checkbox" class="step" id="maze--1"/>
      <section class="maze maze--1">

        <section class="path path--1"></section>

        <section class="path path--finish"></section>

        <section class="path path--end"></section>

        <section class="finish">
          <span class="line">Good job</span>
          <span class="line">Le'ts see you on the <label for="maze--1">next level</label></span>
        </section>

        <section class="gameover">
          <span class="line">To finish this game, the mouse cursor should stay on the path</span>
          <span class="line">You lose!</span>
        </section>
      </section>

      <input type="checkbox" class="step" id="maze--2"/>
      <section class="maze maze--2">

        <section class="path path--1"></section>

        <section class="path path--2"></section>

        <section class="path path--3"></section>

        <section class="path path--4"></section>

        <section class="path path--5"></section>

        <section class="path path--finish"></section>

        <section class="path path--end"></section>

        <section class="finish">
          <span class="line">Good job</span>
          <span class="line">Le'ts see you on the <label for="maze--2">next level</label></span>
        </section>

        <section class="gameover">
          <span class="line">To finish this game, the mouse cursor should stay on the path</span>
          <span class="line">You lose!</span>
        </section>
      </section>

      <input type="checkbox" class="step" id="maze--3"/>
      <section class="maze maze--3">

        <section class="path path--1"></section>

        <section class="path path--2"></section>

        <section class="path path--3"></section>

        <section class="path path--4"></section>

        <section class="path path--5"></section>

        <section class="path path--6"></section>

        <section class="path path--7"></section>

        <section class="path path--finish"></section>

        <section class="path path--end"></section>

        <section class="finish">
          <span class="line">Good job</span>
          <span class="line">Le'ts see you on the <label for="maze--3">next level</label></span>
        </section>

        <section class="gameover">
          <span class="line">To finish this game, the mouse cursor should stay on the path</span>
          <span class="line">You lose!</span>
        </section>
      </section>

      <input type="checkbox" class="step" id="maze--4"/>
      <section class="maze maze--4">

        <section class="path path--1"></section>

        <section class="path path--2"></section>

        <section class="path path--3"></section>

        <section class="path path--4"></section>

        <section class="path path--5"></section>

        <section class="path path--finish"></section>

        <section class="path path--end"></section>

        <section class="finish">
          <span class="line">Good job</span>
          <span class="line">Le'ts see you on the <label for="maze--4">next level</label></span>
        </section>

        <section class="gameover">
          <span class="line">To finish this game, the mouse cursor should stay on the path</span>
          <span class="line">You lose!</span>
        </section>
      </section>

      <input type="checkbox" class="step" id="maze--5"/>
      <section class="maze maze--5">

        <section class="path path--1"></section>

        <section class="path path--2"></section>

        <section class="path path--3"></section>

        <section class="path path--4"></section>

        <section class="path path--5"></section>

        <section class="path path--finish"></section>

        <section class="finish">
          <span class="line">Good job</span>
          <span class="line">You made it till the end</span>
          <span class="line">Now, tweet about it so your friends will try also <a href="https://twitter.com/intent/tweet?text=Done!%20I%20just%20finished%20this%20awesome%20pure%20CSS%20game,%20let's%20see%20you%20now&url=http%3A%2F%2Fbit.ly%2F2zU4LFV&via=chaofix" target="_blank" class="tweet">Tweet</a></span>
        </section>

        <section class="gameover">
          <span class="line">To finish this game, the mouse cursor should stay on the path</span>
          <span class="line">You lose!</span>
        </section>
      </section>
    </section>
  </section>
</body>