<!-- horizontal -->

<body>
    <div class="flip" style="margin-left: 5em;background-position:center;">
      <div class="front">
        <h1 class="text-shadow">GRADE 1</h1>
    </div>
      <div class="back">
        <h2>Angular</h2>
        <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
        
        <a href="/grade1" style="text-align: center;">Open</a>
      </div>
    </div>
  
    <div class="flip">
      <div class="front"
        style="background-image: url(https://media.istockphoto.com/vectors/kids-and-many-numbers-vector-id680402680?k=6&m=680402680&s=612x612&w=0&h=qcZYfePGSFcdImuGNuGl9bHc7DIdXGMUfba75D_Dcfc=)">
        <h1 class="text-shadow">GRADE 2</h1>
      </div>
      <div class="back">
        <h2>Angular</h2>
        <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
        
        <a href="/grade2" style="text-align: center;">Open</a>
      </div>
    </div>
  
    <div class="flip">
      <div class="front"
        style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
        <h1 class="text-shadow">GRADE 3</h1>
      </div>
      <div class="back">
        <h2>Angular</h2>
        <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
        <a href="/grade3" style="text-align: center;">Open</a>
    </div>
    </div>
    <div class="flip" style="margin-left: 13em;">
      <div class="front"
        style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
        <h1 class="text-shadow">GRADE 4</h1>
      </div>
      <div class="back">
        <h2>Angular</h2>
        <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
        <a href="/grade4" style="text-align: center;">Open</a>
      </div>
    </div>
  
    <div class="flip">
      <div class="front"
        style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
        <h1 class="text-shadow">GRADE 5</h1>
      </div>
      <div class="back">
        <h2>Angular</h2>
        <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
        <button (click)="getgrade5()">Open</button>
      </div>
    </div>
  </body>