<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="container" style = "margin-left: 2em;margin-top:2em">	
		<br>
	<h3>NAYASHA</h3>
    <p style = "font-size: smaller;">mom from Hyderabad</p>
	<span class="hint-star star">
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
	</span>
		<br>
			<p class="information" style = "margin-left: 15px;margin-right: 15px;">My daughter loves the content, and loves the interaction and feedback. It keeps her off games and mindless activities.</p>

</div>
<div id="container" style = "margin-left: 53em;margin-top:-20.5em">	
	<br>	
	<h3>LALITHA</h3>
    <p style = "font-size: smaller;">sister from Karimnagar</p>
	<span class="hint-star star">
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star-o" aria-hidden="true"></i>
	</span>

		<br>
			<p class="information" style = "margin-left: 15px;margin-right: 15px;">It's fun, it's very easy to follow, and kids can complete most projects on their own. Kids don't get overwhelmed with pressure.</p>

</div>
<div id="container"style = "margin-left: 27em;margin-top:-20.5em">	
	<br>	
	<h3>BHAVANA</h3>
    <p style = "font-size: smaller;">aunt from Siddipet</p>
	<span class="hint-star star">
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
	</span><br>
		
			<p class="information" style = "margin-left: 15px;margin-right: 15px;">My son absolutely loves it, and it has completely turned around his self-confidence.</p>

</div>





