<body style = "background-image: url('SIIRIUS.jpg');background-size:cover;
background-repeat: repeat;">
<div class="stage">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container" style="margin-left: 5em; margin-right: 5em;">
    <h1 class="title">
      <span class="title-word title-word-1">Arts</span>
      <span class="title-word title-word-2">&</span>
      <span class="title-word title-word-3">Crafts</span>
      <span class="title-word title-word-4">:</span>
    </h1>
    <br>
    <br>
    <div><h2>
        <span class="title-word title-word-5"><b>Cube Making:</b></span>
    </h2>
    <video width="600" height="400" controls>
        <source src="\assets\Cube.mp4" type="video/mp4">
      </video>
      <img src = "\assets\cube.png" height = "280px" width="280px" style="margin-left: 7em;">
      <br><br><br><br><br><br><br><br>
      <h2><span class="title-word title-word-5"><b>Umbrella Making:</b></span></h2>
      <img src = "\assets\umbrella.png" height = "280px" width="280px" style="margin-right: 7em;">
      <video width="600" height="400" controls>
        <source src="\assets\umbrella.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video>
      <br><br><br><br><br><br><br><br>
      <h2><span class="title-word title-word-5"><b>Swing Making:</b></span></h2>
      <video width="540" height="360" controls>
        <source src="\assets\swing.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video>
      <img src = "\assets\swing.png" height = "280px" width="480px" style="margin-left: 0em">
      <br><br><br><br><br><br><br><br><br><br><br>
      <h1 class="title">
        <span class="title-word title-word-1">Dr</span>
        <span class="title-word title-word-2">aw</span>
        <span class="title-word title-word-3">in</span>
        <span class="title-word title-word-4">g:</span>
      </h1>
      <br>
      <br>
      <br>
      <h2><span class="title-word title-word-5"><b>Draw Red Bug:</b></span></h2>
      <img src = "\assets\redbug.png" height = "280px" width="280px" style="margin-right: 7em;">
      <video width="600" height="400" controls>
        <source src="\assets\redbug.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video>
      <br><br><br><br><br><br><br><br><h2><span class="title-word title-word-5"><b>Solar System Drawing:</b></span></h2>
      <video width="600" height="400" controls>
        <source src="\assets\solarsys.mp4" type="video/mp4">
      </video>
      <img src = "\assets\solarsys.png" height = "300px" width="300px" style="margin-left: 7em;">
      <br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</body>
  