<div class="container-fluid pb-0 mb-0 justify-content-center text-light" style = "height:450px">
    <footer>
        <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <h3 class="text-muted mb-md-0 mb-5 bold-text">SIRIUS</h3>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                        <ul class="list-unstyled">
                            <li>Home</li>
                            <li>About</li>
                            <li>Blog</li>
                            <li>Curricular</li>
                            <li>Extra Curricular</li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                        <p class="mb-1">BVRITH</p>
                        <p>Bachupally</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><a href = "https://www.facebook.com/profile.php?id=100079299039184"><i class="fa fa-facebook" aria-hidden="true"></i></a></span> <span class="mx-2"><a href = "https://www.linkedin.com/in/sirius-s-571507234/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span> <span class="mx-2"><a href = "https://twitter.com/SiriusExplore"><i class="fa fa-twitter" aria-hidden="true"></i></a></span> <span class="mx-2"><a href = "https://www.instagram.com/sirius.explore/"><i class="fa fa-instagram" aria-hidden="true"></i></a></span> </p><small class="rights">©&nbsp;2022,SIRIUS, All rights reserved.</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-muted bold-text"><b>Team SIRIUS</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span>sirius.5.2022@gmail.com</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>