<body>
    <img style="margin-left: 40em;"src="/assets/getin.png">
    <main class="main">
        
        <section class="card-area">

            <!-- Card: City -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--city">
                               <h2 class="card-front__heading">
                                CURRICULAR
                            </h2>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--city">
                                        Welcome :)
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="\assets\acadamic_gif.gif" style="vertical-align:sub" height="220px">
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--city">
                               Theme
                            </h3>
                            <p class="inside-page__text">
                               <ul>
                                   <li>Learn with fun</li>
                                   <li>Reading books</li>
                                   <li>Listening skills</li>
                               </ul>
                            <a href="/gradepage" class="inside-page__btn inside-page__btn--city">Check In</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Card: Ski -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--ski">
                                               <h2 class="card-front__heading">
                                                   EXTRA CURRICULAR
                                               </h2>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--ski">
                                        Kiddo !!
                                    </p>
                                </div>
                            </div>

                            <div class="card-back">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="\assets\extra_cur.gif" style="vertical-align:sub" height="220px">
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--ski">
                                Theme
                            </h3>
                            <p class="inside-page__text">
                               <ul>
                                   <li>Cognitive skills</li> 
                                   <li>Creative Art</li>
                                   <li>Ethical values</li>
                                     
                               </ul> 
                            
                            <a href="#" class="inside-page__btn inside-page__btn--ski">Check In</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Card: Camping -->
        </section>
        
    </main>
</body>
