<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  
  </head>
  <div class="container">
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
        <tr class="bg-info text-white"><th>User Name</th><th>Email</th><th>Child Name</th><th>Grade</th>
            <th>Phone Number</th><th>Action</th></tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of users">
            <td>{{u.userName}}</td>
            <td>{{u.email}}</td>
            <td>{{u.childName}}</td>
            <td>{{u.grade}}</td>
            <td>{{u.mobileNumber}}</td>
            <td><button (click)="deleteUser(u)" class ="glyphicon glyphicon-trash"></button></td>
        </tr>
    </tbody>
    </table>
    </div>