h1 {text-align: center;
            color: darkslategrey;
        }
p {text-align: center;}
div {text-align: center;}
body {
  background: #DDD;
  height: 100%;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-image: url('src\app\login\loginBg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}