<!--Enter Login ID : <input type ="text" [(ngModel)] = "loginId"/> <br/>
Enter Password : <input type = "password"[(ngModel)] = "password"/><br/>
<button (click)="loginSubmit()">Submit</button>-->
<!-- Data Validation-->

<app-header></app-header>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
 integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
 <style>
    .bg{
      width: 100%;
      height: 40em;
      background: url('src\app\login\loginBg.jpg')  center;
      background-size: 100% 100%;
      background-position: top center;
    }
  </style>
    
    <!-- Latest compiled and minified CSS --> 
</head>

<body>
    <br><br><br>
<h1>LOGIN</h1>
<br>
<br>
<div class="bg">
<div class="container">
    <form #loginForm=ngForm (ngSubmit)="loginSubmit2(loginForm.value)" class="form-group" novalidate>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" placeholder="email" name="email" ngModel required #email=ngModel
                class="form-control"  maxlength="20" /> <br />
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" placeholder="Password" name="password" ngModel required #password=ngModel
            class="form-control"  maxlength="10" /><br />
        </div>
        <br>
        <br>
            <button [disabled]="!loginForm.valid" class="btn btn-outline-primary">Submit</button>
    </form>
</div></div></body>
</html>