<section class="section-1" id="section-1">
    <main>
        <div class="text-container">
            <h3>Level-5 Quiz</h3>
            <p>QUESTION 1 OF 5</p>
            <h4>12000 registered for the marathon but only 960 runners actually ran. What percentage of the registered people ran the marathon?</h4>
        </div>
        <form>
            <div class="quiz-options">
                <input type="radio" class="input-radio one-a jshdgdgwgdwfdfwdwjfdjwwdwdco" id="one-a" name="yes-1" required>
                <label class="radio-label jsjwjdwjdwjdwco" for="one-a">
                    <span class="alphabet">A</span> 80% <img class="icon jdsjkefkefkefefexco" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588518387/jdsjkefkefkefefexco.svg" alt="">
                </label>
                <input type="radio" class="input-radio one-b jshdgdgwgdwfdfwdwjfdjwwdwdin" id="one-b" name="yes-1">
                <label class="radio-label jsjwjdwjdwjdwin" for="one-b">
                    <span class="alphabet">B</span> 60% <img class="icon jfdedgwfzexf4hjin" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588517753/jfdedgwfzexf4hjin.svg">
                </label>
                <input type="radio" class="input-radio one-c jshdgdgwgdwfdfwdwjfdjwwdwdin" id="one-c" name="yes-1">
                <label class="radio-label jsjwjdwjdwjdwin" for="one-c">
                    <span class="alphabet">C</span> 86% <img class="icon jfdedgwfzexf4hjin" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588517753/jfdedgwfzexf4hjin.svg">
                </label>
                <input type="radio" class="input-radio one-c jshdgdgwgdwfdfwdwjfdjwwdwdin" id="one-c" name="yes-1">
                <label class="radio-label jsjwjdwjdwjdwin" for="one-c">
                    <span class="alphabet">C</span> 16% <img class="icon jfdedgwfzexf4hjin" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588517753/jfdedgwfzexf4hjin.svg">
                </label>
            </div>
            <a id="btn" type="submit" onclick="window.location.href='#section-2'">Next</a>
        </form>
    </main>
</section>
<!-- QUIZ TWO -->
<section class=" section-2" id="section-2">
    <main>
        <div class="text-container">
            <h3>Level-5 Quiz</h3>
            <p>QUESTION 2 OF 5</p>
            <h4>Give the LCM of 32 and 124?</h4>
        </div>
        <form>
            <div class="quiz-options">
                <input type="radio" class="input-radio two-a jshdgdgwgdwfdfwdwjfdjwwdwdin" id="two-a" name="no-2" required="">
                <label class="radio-label jsjwjdwjdwjdwin" for="two-a">
                    <span class="alphabet">A</span> 929 <img class="icon jfdedgwfzexf4hjin" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588517753/jfdedgwfzexf4hjin.svg">
                </label>
                <input type="radio" class="input-radio two-b jshdgdgwgdwfdfwdwjfdjwwdwdin" id="two-b" name="no-2" required="">
                <label class="radio-label jsjwjdwjdwjdwin" for="two-b">
                    <span class="alphabet">B</span> 229<img class="icon jfdedgwfzexf4hjin" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588517753/jfdedgwfzexf4hjin.svg">
                </label>
                <input type="radio" class="input-radio two-c jshdgdgwgdwfdfwdwjfdjwwdwdco" id="two-c" name="no-2" required="">
                <label class="radio-label jsjwjdwjdwjdwco" for="two-c">
                    <span class="alphabet">C</span> 992 <img class="icon jdsjkefkefkefefexco" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588518387/jdsjkefkefkefefexco.svg">
                </label>
            </div>
            <a id="btn" type="submit" onclick="window.location.href='#section-3'">Next</a>
        </form>
    </main>
</section>
<!-- QUIZ THREE -->
<section class="section-3" id="section-3">
    <main>
        <div class="text-container">
            <h3>Level-5 Quiz</h3>
            <p>QUESTION 3 OF 5</p>
            <h4>What did the frog do all the day?</h4>
        </div>
        <form>
            <div class="quiz-options">
                <input type="radio" class="input-radio three-a jshdgdgwgdwfdfwdwjfdjwwdwdin" id="three-a" name="no-3" required="">
                <label class="radio-label jsjwjdwjdwjdwin" for="three-a">
                    <span class="alphabet">A</span> He slept conveniently all day on a bench. <img class="icon jfdedgwfzexf4hjin" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588517753/jfdedgwfzexf4hjin.svg">
                </label>
                <input type="radio" class="input-radio three-b jshdgdgwgdwfdfwdwjfdjwwdwdin" id="three-b" name="no-3" required="">
                <label class="radio-label jsjwjdwjdwjdwin" for="three-b">
                    <span class="alphabet">B</span> He sleeps conveniently all day on a log. <img class="icon jfdedgwfzexf4hjin" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588517753/jfdedgwfzexf4hjin.svg">
                </label>
                <input type="radio" class="input-radio three-c jshdgdgwgdwfdfwdwjfdjwwdwdco" id="three-c" name="no-3" required="">
                <label class="radio-label jsjwjdwjdwjdwco" for="three-c">
                    <span class="alphabet">C</span> He slept conveniently all day on a log.<img class="icon jdsjkefkefkefefexco" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588518387/jdsjkefkefkefefexco.svg">
                </label>
            </div>
            <a id="btn" type="submit" onclick="window.location.href='#section-4'">Next</a>
        </form>
    </main>
</section>
<!-- QUIZ FOUR -->
<section class="section-4" id="section-4">
    <main>
        <div class="text-container">
            <h3>Level-5 Quiz</h3>
            <p>QUESTION 4 OF 5</p>
            <h4>I was tired _______ I went to bed early.</h4>
        </div>
        <form>
            <div class="quiz-options">
                <input type="radio" class="input-radio four-a jshdgdgwgdwfdfwdwjfdjwwdwdin" id="four-a" name="no-4" required="">
                <label class="radio-label jsjwjdwjdwjdwin" for="four-a">
                    <span class="alphabet">A</span> But <img class="icon jfdedgwfzexf4hjin" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588517753/jfdedgwfzexf4hjin.svg">
                </label>
                <input type="radio" class="input-radio four-b jshdgdgwgdwfdfwdwjfdjwwdwdco" id="four-b" name="no-4" required="">
                <label class="radio-label jsjwjdwjdwjdwco" for="four-b">
                    <span class="alphabet">B</span> So <img class="icon jdsjkefkefkefefexco" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588518387/jdsjkefkefkefefexco.svg">
                </label>
                <input type="radio" class="input-radio four-c jshdgdgwgdwfdfwdwjfdjwwdwdin" id="four-c" name="no-4" required="">
                <label class="radio-label jsjwjdwjdwjdwin" for="four-c">
                    <span class="alphabet">C</span> then <img class="icon jfdedgwfzexf4hjin" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588517753/jfdedgwfzexf4hjin.svg">
                </label>
            </div>
            <a id="btn" type="submit" onclick="window.location.href='#section-5'">Next</a>
        </form>
    </main>
</section>
<!-- QUIZ FIVE -->
<section class="section-5" id="section-5">
    <main>
        <div class="text-container">
            <h3>Level-5 Quiz</h3>
            <p>QUESTION 5 OF 5</p>
            <h4>_______ your playing, Ravi called you trice.</h4>
        </div>
        <form>
            <div class="quiz-options">
                <input type="radio" class="input-radio five-a jshdgdgwgdwfdfwdwjfdjwwdwdco" id="five-a" name="yes-5" required>
                <label class="radio-label jsjwjdwjdwjdwco" for="five-a">
                    <span class="alphabet">A</span> While <img class="icon jdsjkefkefkefefexco" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588518387/jdsjkefkefkefefexco.svg" alt="">
                </label>
                <input type="radio" class="input-radio five-b jshdgdgwgdwfdfwdwjfdjwwdwdin" id="five-b" name="yes-5">
                <label class="radio-label jsjwjdwjdwjdwin" for="five-b">
                    <span class="alphabet">B</span> But <img class="icon jfdedgwfzexf4hjin" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588517753/jfdedgwfzexf4hjin.svg">
                </label>
                <input type="radio" class="input-radio five-c jshdgdgwgdwfdfwdwjfdjwwdwdin" id="five-c" name="yes-5">
                <label class="radio-label jsjwjdwjdwjdwin" for="five-c">
                    <span class="alphabet">C</span> Then <img class="icon jfdedgwfzexf4hjin" src="https://res.cloudinary.com/dvhndpbun/image/upload/v1588517753/jfdedgwfzexf4hjin.svg">
                </label>
            </div>
            <a id="btn" type="submit" onclick="window.location.href='#game-over'">Next</a>
        </form>
    </main>
</section>
<section id="game-over">
    <div class="game-over-content">
        <div class="over-text-cont">
            <img src="\assets\thankyou.gif" style="vertical-align:sub" height="220px">
            <h1 data-heading="Game Over">Game Over</h1>
            <a id="btn" type="submit" onclick="window.location.href='#refresh'">Play Again</a>
        </div>
    </div>
</section>

