
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #563D7C;">
    <div class="container-fluid">
      
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/register">register</a>
              </li>
   
        </ul>
        <form class="d-flex">

          </form>
      </div>
    </div>
  </nav>