<body>
  <br>
  <button (click) = "back()" style="margin-left: 88em; background-color: #531963; color: rgb(255, 255, 255); position: fixed; border-radius: 10px;">Back</button>
    
  <img class = "image2" src = "\assets\logo1.png" width="100" height="100">
          <div style = "margin-left:300px">
        <div class="property-card">
          <a routerLink="/killbirds">
            <div class="property-image" style = "background-image: url('/assets/games/killbird.png');">
              <div class="property-image-title">
                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
              </div>
            </div></a>
          <div class="property-description">
            <h5>Bird Shot</h5>
            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
          </div>
          <a routerLink="/killbirds">
            <div class="property-social-icons">
              <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
            </div>
          </a>
        </div>
      </div>
      
      <div style = "margin-left:600px">
        <div class="property-card">
          <a routerLink="/about">
            <div class="property-image" style = "background-image: url('/assets/games/maze.png');">
              <div class="property-image-title">
                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
              </div>
            </div></a>
          <div class="property-description">
            <h5>Sirius Crisp</h5>
            <br>
            <p>Is it the begining or the end of the maze?</p>
          </div>
          <a routerLink="/crispgame">
            <div class="property-social-icons">
              <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
            </div>
          </a>
        </div>
    </div>
    

      <div style = "margin-left:900px;margin-top:-560px">
        <div class="property-card">
          <a routerLink="/snakesladders">
            <div class="property-image"style = "background-image: url('/assets/games/snakesladder.png');">
              <div class="property-image-title">
                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
              </div>
            </div></a>
          <div class="property-description">
            <h5>Snakes & Ladders</h5>
            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
          </div>
          <a routerLink="/snakesladders">
            <div class="property-social-icons">
              <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
            </div>
          </a>
        </div>
      </div>
    </body>
    