<body>
    <br>
    <h2 style="color: #563D7C;">SIRIUS - Let Your Child Shine Bright in the Crowd.</h2>
<h4>Why SIRIUS</h4>
<p>Many e-learning platforms are available for students, but we provide only the best material to rely on.
    We always wanted to do something for the younger generation.
    They are our future. We need to guide our future on the right path.
    Guiding on the right path doesn't mean only providing them a good academic base, it is also enriching their ethical values along with academics and letting them bring out and live their creative world.</p>
<br><br>
<h4>About SIRIUS</h4>
<p>In our curriculum, we provide both academics and extracurricular activities.
    For academics, We supply both materials for both English and Mathematics for kids of grades 1-5.
     Our material includes downloadable video lectures, study materials.
     Our extracurricular activities consist of arts and crafts, drawings, moral values (ethics), dancing, and singing videos for kids to jam along.</p>
     <br>
<h4>Mission</h4>
<p>Our mission is to enlighten students.
    We follow "explore, learn, create" to bring out their talent, we want our kids to shine bright in the crowd</p>
</body>
