<!--
<a routerLink = "./register"> Registration </a><br>

<a routerLink = "./login"> Login </a><br>-->
<!-- ./ => children-->

<app-header></app-header>
<body>
  <div class="parent" style="background-color: #f5f1f0;">
     <img  class="center" src="\assets\SIRIUS_DP1.png"/>
    </div>
  
  <div>
  <h3 style = "font-family: 'Apple Chancery', cursive; background-color:#f5f1f0 ; text-align:center;text-indent: 4em;" >  <br><br><br><b>Sirius</b> is one of the best online platforms for learning, providing your children with high quality education.
  It is one of the most effective learning channels for children to learn and improve primary schooling skills. It is easy to access content by navigating to age specific categories.
  We offer an exciting, age-appropriate online primary school program that is designed to ensure your child to be the best.
  The provided study program is categorized based on the grade of the children.
  <br><br><br></h3>
  
  <img src="\assets\benefits.png"height = "93px" width="200"/>
  <div style = "line-height: 2.0;font-family: 'Apple Chancery', cursive; background-color:#f5f1f0; text-align:center ;">
  <ol>
  <li>Parents and children has access to all the materials, books and videos</li>
  <li>Kids can enjoy their learning by playing games, solving puzzles, riddles etc</li>
  <li>Kids can find a wide range of stories and poems</li>
  <li>All material available is free of cost</li>
  <li>A variety of programs are designed based on the age group of the baby</li>
  <li>The interactive live sessions of Sirius are super informative and allows the kid to learn things easily</li>
  </ol></div></div>
  <div class="container">
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>01</h2>
            <h3 style = "font-family: 'Apple Chancery', cursive;">EXPLORE</h3>
            <img src = "\assets\explore.png" width = "130" height = "130">
            <br>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>02</h2>
            <img src = "\assets\learn1.png" width = "130" height = "220">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>03</h2>
            <h3 style = "font-family: 'Apple Chancery', cursive;">CREATE</h3>
            <img src = "\assets\create.png" width = "200" height = "200">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div>
    <video width="1200px" height="500px"  controls autoplay loop> 
            
          <source src="\assets\drawing.mp4" 
              type="video/mp4"> 
      </video>
      <br>
  </div>
    <div class="box1">
      <p class="heading" style = "font-size: 25;">FAQs</p>
      <div class="faqs">
         <details>
            <summary>Sirius program is available for which classes?
              </summary>
            <br>
            <p style = "font-size: 15px;">Student's across classes 1 to 5 can attend and learn from sirisilla classes.</p>
         </details>
         <details>
            <summary>Are the  classes free or subscriptions?</summary><br>
            <p style = "font-size: 15px;">Yes, the  classes are free. More details about the  classes will be provided by our counsellor</p>
         </details>
         <details>
            <summary>Is Sirius Classes mapped to the school syllabus/curriculum?</summary><br>
            <p style = "font-size: 15px;">Yes, We have multiple batches available for students to select from to suit their study plan as per the school syllabus..</p>
         </details>
         <details>
          <summary>What is a free demo class and how do I register for it?</summary><br>
          <p style = "font-size: 15px;">Your child can attend a free demo class by our top teachers to experience our programmes first-hand. This is a great way to understand SIRIUS way of teaching. Our counselor will help book a demo class for you at your convenience</p>
       </details>
      </div>
   </div>
  </body>
<!--
<body>
<div class="parent" style="background-color: #faa019f3">
   <img  class="center" src="\assets\siriusDP.jpg" />
  </div>


<h3  style = "font-family: 'Apple Chancery', cursive; background-color:#59c0da2a ; text-align:center ;" >  <br><br><br><b>Sirius</b> is one of the best online platforms for learning, providing your children with high quality education.
It is one of the most effective learning channels for children to learn and improve primary schooling skills. It is easy to access content by navigating to age specific categories.
We offer an exciting, age-appropriate online primary school program that is designed to ensure your child to be the best.
The provided study program is categorized based on the grade of the children.
<br><br><br></h3>
<div style="background-color:#59c0da2a ">
<h3 style = "font-family: 'Brush Script MT', cursive; text-align : center"><br><b>BENEFITS:</b></h3><br>
<ol>
<li>Parents and children has access to all the materials, books and videos</li>
<li>Kids can enjoy their learning by playing games, solving puzzles, riddles etc</li>
<li>Kids can find a wide range of stories and poems</li>
<li>All material available is free of cost</li>
<li>A variety of programs are designed based on the age group of the baby</li>
<li>The interactive live sessions of Sirius are super informative and allows the kid to learn things easily</li>
</ol></div>
</body>-->